@charset "utf-8";
@import url("reset.css");

html,body,.wrap,#wrap{min-width: 260px;}

html,body,#wrap{min-height: 480px;}

body *{
	word-break:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{font-family: 'PT Sans', sans-serif;}

body a{text-decoration:none;}

.wrap{
	position:relative;
	display:block;
	margin:0px auto;
	width: 90%;
	max-width: 960px;
}

.b{display:block;}

.l{
	position:relative;
	float:left;
}

.r{
	position:relative;
	float:right;
}

.c::after{
	clear:both;
	position: relative;
	display: block;
	content: "";
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrap {
	min-height:100%;
	position:relative;
}

footer {
	position: relative;
	width:100%;
}

textarea[placeholder] { text-overflow: ellipsis; opacity: 1; font-weight: 300; }
input[placeholder] { text-overflow: ellipsis; opacity: 1; font-weight: 300; }
::-moz-placeholder { text-overflow: ellipsis; opacity: 1; font-weight: 300; }
input::-webkit-input-placeholder { opacity: 1; font-weight: 300;}
textarea::-webkit-input-placeholder { opacity: 1; font-weight: 300;}
input:-ms-input-placeholder { opacity: 1; font-weight: 300;}
textarea:-ms-input-placeholder { opacity: 1; font-weight: 300;}